 <div class="border-bottom row" style="margin-bottom: 16px;; padding-bottom: 4px;">
                <div class="col-9">
                    <h4 style="color: rgb(114, 114, 114);margin-bottom: 4px">{{ job.title }}</h4>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Date Posted:</strong> {{ job.date_posted }}</p>
                    <p>{{ job.description }}</p>
                </div>

                <div class="col-3 text-end">
                    <button type="button" class="btn btn-outline-primary btn-sm">Apply Now</button>
                </div>
            </div>